@import url(https://fonts.googleapis.com/css?family=Lobster);

.controls-selected {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid red;
}

img[src=""] {
    visibility: hidden;
}